<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
  <br />
  <nav class="sidebar-nav">
    <span class="sidebar-item">Mesh Access Required:</span>
    <a class="sidebar-nav-item" href="http://localnode.local.mesh">Local Node Status</a>
    <a class="sidebar-nav-item" href="http://localnode.local.mesh:8080/cgi-bin/mesh">Mesh Nodes Directory</a>
  </nav>
  </nav>

  <div class="sidebar-item">
    <p>
      <em>Reminder: Access to the mesh is governed by Part 97 of the FCC Rules, and misuse can result in enforcement actions by the FCC. Authorized Use Only!</em>
    </p>
    Release {{ site.git.total_commits }} ({{ site.git.last_commit.short_sha }}) built<br />
    {{ site.git.last_commit.commit_date }}
    </p>
    <p>
      &copy; {{ site.time | date: '%Y' }} SFWEM. All rights reserved.
    </p>
</div>
</div>
